@charset "uft-8";

/* common */

body{
  padding: 1px 0;
}

#wrap{
  background: url(../img/bg.png) no-repeat center center / cover;
  height: calc(100vh + 1px);
  overflow: hidden;
  position: relative;
}

.loading{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
}

h1.mainleft{
  font-family: "moondance";
  font-size: 16rem;
  font-weight: 100; 
  line-height: 1.25;
  position: fixed;
  top: calc(50% - 10px); 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  cursor: pointer;
}

h2.mainright{
  font-size: 4.8rem;
  font-weight: 500;
  text-transform: uppercase;
  position: fixed;
  left: 90px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999999;
}

h2.mainright span{
  display: block;
  font-weight: 200;
  font-size: 2.4rem;
  margin-top: 20px;
  opacity: 0.9;
}
.mainmid{
  display: flex;
  gap: 120px;
  position: fixed;
  top: 14 px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}
.mainmid li{
  font-size: 1.6rem;
  padding: 20px 30px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.mainmidbg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #514D43;
  display: none;
  z-index: 999;
}
.mainmidbg ul{
  width: 100%;
  height: 100%;
  position: relative;
}
.mainmidbg ul li{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  color: #fff;
  font-family: "moondance";
  letter-spacing: 4px;
  font-size: 5rem;
}
.mainmidbg ul li.active{
  display: flex;
  justify-content: center;
  align-items: center;
}

.eclipse-wrapper{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 calc((100% - 750px) / 2);
  z-index: 9;
}

.eclipse{
  width: 750px;
  height: 750px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.eclipse .sun{
  width: 687px;
  height: 687px;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 15px 5px 25px 10px rgba(0,0,0,0.5);
  z-index: 9999;
}
.eclipse .sun2{
  position: absolute;
  top: -31px;
  left:-21px;
  border-radius: 50%;
  z-index: 999;
  display: none;
}
.eclipse .sun img,
.eclipse .sun2 img{
  width: 100%;
}


.eclipse .moon{
  width: 100%;
}
.eclipse .moon img:last-child{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.eclipse .moon img{
  width: 100%;
}

@keyframes scroll {
  0%{
    top: 4px;
  }
  100%{
    top: 26px;
  }
}

.scroll{
  position: fixed;
  left: 90px;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.scroll .scrollbox{
  width: 24px;
  height: 50px;
  border-radius: 12px;
  border: 2px solid #6E6857;
  position: relative;
}
.scroll .scrollbox::before{
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #6E6857;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4px;
  animation: scroll 1.5s ease 0s infinite normal backwards;
}
.scroll p{
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
}


.orbit img{
  position: fixed;
}
.orbit img:nth-child(1){
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 80%;

}
.orbit img:nth-child(2){
  bottom: 0;
  left: 0;
  opacity: 30%;
  /* z-index: 99; */
  height: calc(100% - 200px);
}
.orbit img:nth-child(3){
  top: 0;
  right: 0;
  opacity: 30%;
}

.backposition{
  position: fixed;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
  z-index: 9999;
  width: 1600px;
  padding-left: 1516px;
}

.backposition .back{
  width: 84px;
  height: 30px;
  font-size: 2.4rem;
  font-weight: 500;
  background: url(../img/back.png) no-repeat right bottom / contain;
  text-align: right;
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s;
}
.backposition .back:hover{
  font-weight: 800;
}



/* cover */
.cover .line{
  height: 1px;
  width: calc(100% - 168px);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.cover .line img{
  width: 100%;
}

.cover p{
  font-size: 1.6rem;
  position: fixed;
  bottom: 70px;
  right: 90px;
}
.cover p span{
  font-family: "moondance";
  font-weight: 100;
  font-size: 2.8rem;
}

/* index */
.index .index-list{
  position: fixed;
  top: 50%;
  left: 160px;
  transform: translateY(-50%);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  gap: 88px;
}


.index .index-list li{
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 800;
  background: linear-gradient(to right, rgba(93,93,93,0) 0%,rgba(93,93,93,1) 100%);
  background-clip: text;
  color: transparent;
  opacity: 0.6;
}
.index .index-list li.active{
  margin-left: 40px;
  font-size: 5.6rem;
  color: #6E6857;
  opacity: 1;
  cursor: pointer;
}
.index .index-list li.profile{
  order: 2;
}
.index .index-list li.works{
  order: 3;
}
.index .index-list li.additional{
  order: 1;
}


/* profile */
#profile .state{
  position: fixed;
  width: calc(250px + 1080px);
  text-align: center;
  padding-top: calc(560px - 315px);
  padding-right: 1080px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#profile .state h3{
  font-size: 2.4rem;
  margin-top: 12px;
}
#profile .state > p{
  font-size: 1.4rem;
  opacity: 0.5;
  margin-bottom: 40px;
}
#profile .state ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#profile .state ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#profile .state ul li .tit{
  font-size: 1.6rem;
  font-weight: 800;
}
#profile .state ul li .detail{
  font-size: 1.6rem;
}

#profile .career{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(250px + 1080px);
  height: 546px;
  display: flex;
  justify-content: space-between;
  /* border-left: 1px solid rgba(110,104,87,0.3); */
  padding-left: calc(250px + 240px);
}
#profile .career > div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#profile .career h4{
  font-size: 3.6rem;
  font-weight: 800;
  margin-bottom: 24px;
}
#profile .career dl dt{
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 4px;
}
#profile .career dl dd{
  font-size: 1.6rem;
  font-weight: 300;
  opacity: 0.5;
}


#profile .skills .graph{
  position: relative;
}
#profile .skills .graph .skill-list{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(2, 60px); 
  gap: 20px;                  
  padding: 10px;
}
#profile .skills .graph .skill-list li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-family: 'agencyfb';
  font-size: 2rem;
}
#profile .skills .graph .skill-list li:nth-child(5){
  color: #187CCC;
}
#profile .skills .graph .skill-list li:nth-child(6){
  color: #EB8E00;
}
#profile .skills .graph .skill-list li:nth-child(7){
  color: #F24E1E;
}
#profile .skills .graph .skill-list li:nth-child(8){
  color: #333333;
}

#profile .skills svg {
  width: 320px;
  height: 160px;
}
#profile .skills circle {
  fill: none;
  stroke: lightgray;
  stroke-width: 5;
}
#profile .skills .progress {
  fill: none;
  stroke: #6E6857;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 188.5;
  stroke-dashoffset: 188.5;
  transition: stroke-dashoffset 2s ease;
}
#profile .skills .progress1.active { stroke-dashoffset: 16; } 
#profile .skills .progress2.active { stroke-dashoffset: 16; }  
#profile .skills .progress3.active { stroke-dashoffset: 40; }
#profile .skills .progress4.active { stroke-dashoffset: 80; }
#profile .skills .progress5.active { stroke-dashoffset: 40; }
#profile .skills .progress6.active { stroke-dashoffset: 40; }
#profile .skills .progress7.active { stroke-dashoffset: 40; }
#profile .skills .progress8.active { stroke-dashoffset: 80; }


/* #works */
#works .worklist{
  width: 1276px;
  padding-left: 786px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}
#works .worklist li{
  font-size: 1.6rem;
  font-weight: 900;
  color: rgba(93,93,93,0.3);
  cursor: pointer;
}
#works .worklist li.active:nth-child(1){
  color: #3F519D;
}
#works .worklist li.active:nth-child(2){
  color: #FAB951;
}
#works .worklist li.active:nth-child(3){
  color: #E88138;
}
#works .worklist li.active:nth-child(4){
  color: #6C73F4;
}
#works .worklist li.active:nth-child(5){
  color: #6799F9;
}

#works .workcont .contbox{
  width: 1600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
#works .workcont .samsung .contbox,
#works .workcont .tourzy .contbox,
#works .workcont .lifemind .contbox{
  padding-left: 945px;
  padding-right: 0;
}

#works .workcont .twentynine .contbox,
#works .workcont .stori .contbox{
  padding-left:0;
  padding-right: 945px;
}


#works .workcont .label{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
#works .workcont .label h4{
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1;
}
#works .workcont .label a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 28px;
  border: 1px solid #6E6857;
}
#works .workcont .label a:hover{
  background-color: #6E6857;
  color: #fff;
}
#works .workcont h2.project{
  font-size: 6.4rem;
  line-height: 1;
  margin-left: 36px;
}
#works .workcont .project-detail{
  border-top: 1px solid rgba(93,93,93,0.3);
  margin-top: 50px;
  padding-top: 26px;
}
#works .workcont .project-detail > li{
  display: flex;
  gap: 52px;
  margin-top: 24px;
}
#works .workcont .project-detail > li > p:first-child{
  width: 80px;
  font-size: 2rem;
  font-weight: 600;
}
#works .workcont .project-detail > li > p:last-child{
  width: calc(100% - 132px);
  font-size: 1.6rem;
}
#works .workcont .project-detail > li > p.info-txt{
  font-weight: 300;
}
#works .workcont .project-detail > li > p.info-txt span{
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
}

#works .workcont .project-detail > li > ul.color-list li{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
}
#works .workcont .project-detail > li > ul.color-list li > div{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
}
#works .workcont .project-detail li > ul li p.color-txt{
  font-weight: 300;
}
#works .workcont .project-detail li > p.font-txt{
  font-weight: 600;
  font-size: 2rem;
}


#works .workcont .samsung h2.project span{
  color: #3F519D; 
}
#works .workcont .samsung .project-detail > li > ul.color-list li:nth-child(1) > div{
  background-color: #3F519D;
}
#works .workcont .samsung .project-detail > li > ul.color-list li:nth-child(2) > div{
  background-color: #333333;
}
#works .workcont .samsung .project-detail > li > ul.color-list li:nth-child(3) > div{
  background-color: #ffffff;
  border: 1px solid #ddd;
}

#works .workcont .twentynine h2.project span{
  color: #FAB951; 
}
#works .workcont .twentynine .project-detail > li > ul.color-list li:nth-child(1) > div{
  background-color: #000000;
}
#works .workcont .twentynine .project-detail > li > ul.color-list li:nth-child(2) > div{
  background-color: #FFFFFF;
  border: 1px solid #ddd;
}
#works .workcont .twentynine .project-detail > li > ul.color-list li:nth-child(3) > div{
  background-color: #3F519D;
}
#works .workcont .twentynine .project-detail > li > ul.color-list li:nth-child(4) > div{
  background-color: #FF694E;
}


#works .workcont .tourzy h2.project span{
  color: #E88138; 
}
#works .workcont .tourzy .project-detail > li > ul.color-list li:nth-child(1) > div{
  background-color: #E88138;
}
#works .workcont .tourzy .project-detail > li > ul.color-list li:nth-child(2) > div{
  background-color: #333333;
}
#works .workcont .tourzy .project-detail > li > ul.color-list li:nth-child(3) > div{
  background-color: #FFFFFF;
    border: 1px solid #ddd;
}


#works .workcont .stori h2.project span{
  color: #6C73F4; 
}
#works .workcont .stori .project-detail > li > ul.color-list li:nth-child(1) > div{
  background-color: #6C73F4;
}
#works .workcont .stori .project-detail > li > ul.color-list li:nth-child(2) > div{
  background-color: #A0CB68;
}
#works .workcont .stori .project-detail > li > ul.color-list li:nth-child(3) > div{
  background-color: #333333;
}
#works .workcont .stori .project-detail > li > ul.color-list li:nth-child(4) > div{
  background-color: #EDEDED;
    border: 1px solid #ccc;
}


#works .workcont .lifemind h2.project span{
  color: #5E90F1; 
}
#works .workcont .lifemind .project-detail > li > ul.color-list li:nth-child(1) > div{
  background-color: #5E90F1;
}
#works .workcont .lifemind .project-detail > li > ul.color-list li:nth-child(2) > div{
  background-color: #609BE1;
}
#works .workcont .lifemind .project-detail > li > ul.color-list li:nth-child(3) > div{
  background-color: #96D0D2;
}
#works .workcont .lifemind .project-detail > li > ul.color-list li:nth-child(4) > div{
  background-color: #FFFFFF;
    border: 1px solid #ddd;
}

#works .workcont > li .contimg{
  width: 1000px;
  height: 1000px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 500px;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 99;
}
#works .workcont > .samsung .contimg img{
  border-radius: 20px;
  width: 764px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 180px;
  left: 160px;
  height: auto;
  z-index: 999;
}
#works .workcont > .stori .contimg img{
  border-radius: 20px;
  width: 764px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 180px;
  left: 160px;
  height: auto;
}


/* query */
@media(max-width:1400px){
  .mainmid{
    opacity: 0;
  }
  .mainmid li{
    cursor: default;
  }
  .mainmidbg{
    display: none;
  }
}